.createRdv {
  display: flex;
  flex-direction: column;

  width: 50%;

  margin: auto;
}

.oneRow {
  display: flex;

  margin: 5px 0;
}

label {
  width: 20%;
}

input {
  width: 80%;
}

.idPatient{
  width: 80%;
}

.createRdv button {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  align-self: center;
}

.createRdv .alertCreate {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    background: lightgreen;
    text-align: center;
    font-weight: bolder;

  }

  a{
    text-decoration: none;
  }
  
  button{
    margin-top: 10px;
    padding: 5px;
  }